.cache/
.cloud/
.storage/
.vscode/
blueprints/
custom_components/
deps/
image/
lsiopy/
tts/
www/
HaCasa_Logo
Docs/build
Docs/node_modules
.bash_history
.HA_VERSION
automations.yaml
configuration.yaml
groups.yaml
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
scenes.yaml
scripts.yaml
secrets.yaml
zigbee.db
zigbee.db-shm
zigbee.db-wal
/build
.docusaurus/
/node_modules